<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  rel="stylesheet" href="__STATIC__/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/index.css">

</head>
<body>
        <div class="container col-lg-12 " style="padding: 0px ;margin: 0px" >
            <div>
                <div class="col-md-12 modal-content " style="border: 1px solid skyblue;margin: 0px;padding: 0px">

                        <video class="col-md-12" src="http://videooc.tc.qq.com/vcloud1022.tc.qq.com/1022_a4a7a8041ed64eddb2465d8ea5c9bc45.f0.mp4?vkey=BBD516513BACE51883AEEFCF1899E6A6D6C818C9663ACCBBB7053216ED36163E20178C28AF2DC6736A88EDFAC97A6C84C2D31AAD9472DBF613FD5B8A9B7EA815CDE0B7A8208EB0629809641C7FB7A440B327765DCFE6B5CB&sha=0"
                        autoplay="autoplay" loop="loop" style="margin: 0px;padding: 0px">
                        </video>

                </div>
                <div class="bodyr col-md-12">
                    <div class="col-md-5 col-xs-0 col-xs-0"></div>
                    <button class="btn col-md-2 col-xs-12 col-xs-12" onclick="alert('请登陆账号，试用')" >下载M24辅助</button>
                    <div class="col-md-5 col-xs-0 col-xs-0"></div>
                    <table class="table">
                        <tr style="color: #1c1c1c; ">
                            <td class="btn-success text-center col-md-3" style="background-color:rgba(0,0,0,0.6); font-family:创艺简老宋;font-size: 20px">我们</td>
                            <td class="btn-success text-center col-md-3" style="background-color:rgba(0,0,0,0.6); font-family:创艺简老宋;font-size: 20px">注意事项</td>
                            <td class="btn-success text-center col-md-3" style="background-color:rgba(0,0,0,0.6); font-family:创艺简老宋;font-size: 20px">功能介绍</td>
                            <td class="btn-success text-center col-md-3" style="background-color:rgba(0,0,0,0.6); font-family:创艺简老宋;font-size: 20px">友情提示</td>
                        </tr>
                        <tr>
                            <td class="" style="color:	#B0C4DE;font-family: 'Adobe 楷体 Std R'">
                                &nbsp;&nbsp;我们专业团队开发经验，从CS到绝地求生，我们专注开发FPS外挂,安全，我们团队每天定时更新，防止玩家账号
                                被封，玩家安全至上。<br><br>
                                因为使用C++编写外挂，更加稳定，安全，全方位。
                                <br><br>
                                C++编写的外挂让你成功今日吃鸡。23个开发大牛，持续为你服务，让你在吃鸡路上风雨无阻。

                            </td>
                            <td class="" style="color:	#B0C4DE;font-family: 'Adobe 楷体 Std R'">
                                &nbsp;&nbsp;1、在使用过程中请保持系统纯家用电脑推荐安装影子系统，每次开辅助在完全影子模式开启。这样可以保护电脑、影子系统连接：http://www.yingzixitong.cn）<br><br>

                                重启电脑会回到初始状态。对电脑无损害 <br> <br>      请保持电脑干净。不要有其它辅助残留 <br><br>

                                2、无需开启Aero模式即可游戏，不卡不闪，支持全屏窗口化、全屏、窗口。顶级Steam绘制编写 <br><br>

                                3、支持系统Win764、32   Win8   Win10完美兼容 <br><br>
                            </td>
                            <td class="" style="color:	#B0C4DE;font-family: 'Adobe 楷体 Std R'">
                                &nbsp;&nbsp;1、↑ ↓ ←  →  方向键控制开关  1=开启  0=关闭 <br><br>

                                2、车辆在不需要得时候可以关闭，不然影响视觉 <br>

                                3/当提示等待同步时请等待同步完成信息框的弹出,在此期间辅助会自动更新,所以花费时间较长,请耐心等待,非无效...<br><br>

                                当游戏没更新的时候,进入游戏即可 Home 键呼出辅助菜单,当游戏更新后,辅助会自动进行同步状态,直到提示同步完成后才可呼出辅助.<br><br>

                                辅助自动更新后,可能会出现部分功能无效,作者在线时会修复并发布新版本.<br><br>

                                子弹穿墙,请慎用<br><br>

                                不要连续爆头,不要连续灭队,举报数量过高会导致封号<br><br>
                            </td>
                            <td class="" style="color:	#B0C4DE;font-family: 'Adobe 楷体 Std R'">
                                &nbsp;&nbsp;尽量少用爆头，推荐使用胸口和其它部位，不要太过于奔放、请自重。变态功能也少用，土豪无视，开心就好

                                杀人数控制在十以下、该做装备就做装备、该跑毒就跑毒<br><br>

                                别一个人单挑全队、请勿短时间连续击杀 别那么高调、同队四个举报、一局超过七个举报你懂的、杀敌数尽量控制10以下

                                土豪无视<br><br>

                                请低调使用本軟件、本軟件仅供学习参考使用<br><br>
                            </td>
                        </tr>

                    </table>


                </div>
            </div>
            <div style="position: absolute;margin-left:80%;margin-top: 20px">

                         <button class="button btn"><a href="{:url('login')}">登陆qq下载辅助体验一天</a></button>





            </div>
        </div>





        <script type="text/javascript" src="__STATIC__/jquery.js"></script>
        <script type="text/javascript" src="__STATIC__/bootstrap.min.js"></script>

</body>
</html>